@charset "UTF-8"

/* 
    Paleta de cores

    Rosa: #FF81D0
    Verde: #105057
*/

* { 
    font-family: ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: ;
    height: vh;
    width: vw;
}

main {
    position: relative;
    height: vh;
    width: vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: ;
    width: px;
    height: px;
    border-radius: px;
    box-shadow: 0px 0px 10px black;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}